html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    scrollbar-width: none;
}

.arrivals {
    margin: 1em;
    display: grid;
    grid-template-columns: .5fr 4fr 1fr 1fr;
}

.warning-cards, .arrival-cards {
    display: grid;
    grid-column: span 4;
    grid-template-columns: subgrid;
}

.card {
    height: 4.5em;
    width: 98%;
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 1.25em;
    padding-right: 1.25em;
    margin-bottom: 20px;
    border-radius: 3px;
    align-content: center;
    display: grid;
    grid-template-columns: subgrid;
    grid-column: span 4;
    gap: 50px;
}

.arrival {
    background-color: rgb(45, 45, 45);
}

.header {
    background-color: rgb(70, 70, 70);
}

.warning {
    background-color: rgb(250, 244, 214);
    color: black;
    height: auto;
    grid-column: span 4;
    display: grid;
    grid-template-columns: subgrid;
}

.destination {
    font-size: 5em;
}

.warning-text {
    font-size: 3em;
    grid-column: span 3;
}

.arrival-time {
    font-size: 5em;
}

.min::after {
    content: "min";
    font-size: .4em;
    margin-left: .5em;
}

.car {
    font-size: 5em;
}

.line {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}

.metro-logo {
    width: 5em;
    height: 6em;
    border-radius: 8%;
    background-color: white;
}

.line::after {
    font-weight: bold;
    position: absolute;
    font-size: 3.5em;
}

.metro-logo::after {
    content: "M";
    color: rgb(70, 70, 70);
    margin-left: .05em;
    font-weight: bold;
    position: absolute;
    font-size: 5em;
}

.rd {
    background-color: rgb(200, 15, 45);
}

.rd::after {
    content: "R";
    color: white;
    margin-top: .25em; 
    margin-left: .52em;
}

.or {
    background-color: rgb(237, 139, 0);
}

.or::after {
    content: "O";
    color: black;
    margin-top: .25em; 
    margin-left: .46em;
}

.yl {
    background-color: rgb(255, 209, 0);
}

.yl::after {
    content: "Y";
    color: black;
    margin-top: .25em; 
    margin-left: .5em;
}

.gr {
    background-color: rgb(0, 177, 64);
}

.gr::after {
    content: "G";
    color: white;
    margin-top: .25em; 
    margin-left: .48em;
}

.bl {
    background-color: rgb(0, 156, 222);
}

.bl::after {
    content: "B";
    color: white;
    margin-top: .25em; 
    margin-left: .55em;
}

.sv {
    background-color: rgb(145, 157, 157);
}

.sv::after {
    content: "S";
    color: black;
    margin-top: .25em; 
    margin-left: .52em;
}

.no,.-- {
    background-color: rgb(45, 46, 46); 
}

.no::after {
    content: "?";
    color: white;
    margin-top: .25em; 
    margin-left: .58em;
}

.--::after {
    content: "?";
    color: white;
    margin-top: .25em; 
    margin-left: .58em;
}

.alert {
    background-color: black;
}

.alert::after {
    content: "!";
    color: white;
    margin-top: .25em; 
    margin-left: .72em;
}